<%= render "layouts/clientlink" %>
<%= render "layouts/sidebar" %>
<br>
<br>
<% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>
<table>
	<tr>
		<td>Company Name :</td>
		<td><%= @client.company_name %></td>
	</tr>
	<tr>
		<td>Client Name :</td>
		<td><%= @client.client_name %></td>
	</tr>
	<tr>
		<td>Email :</td>
		<td><%= @client.email %></td>
	</tr>
	<tr>
		<td>Contact Number :</td>
		<td><%= @client.mobile %> <%= @client.telephone %> <%= @client.fax %></td>
	</tr>
	<tr>
		<td>Address :</td>
		<td><%= @client.house %> <%= @client.street %> <%= @client.city %></td>
	</tr>
	<tr>
		<td>TIN No. :</td>
		<td><%= @client.tin %></td>
	</tr>
</table>
