<h1>Listing religions</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @religions.each do |religion| %>
  <tr>
    <td><%= religion.name %></td>
    <td><%= link_to 'Show', religion %></td>
    <td><%= link_to 'Edit', edit_religion_path(religion) %></td>
    <td><%= link_to 'Destroy', religion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Religion', new_religion_path %>
