<%= render "layouts/sidebar" %>
<h1>ASI Welcome Pages</h1><br>
<p>Frequently Ask Questions</p>

<ul>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>	
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>	
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
	<li><%= link_to "How To DO", '#' %></li>
</ul>

