<%= render "layouts/clientlink" %>
<%= render "layouts/sidebar" %>
<br>
<br>
<% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>
<table>
	<tr>
		<td>Company Name :</td>
		<td><%= @marketing.company_name %></td>
	</tr>
	<tr>
		<td>Company Address</td>
		<td><%= @marketing.street %> <%= @marketing.barangay %> <%= @marketing.city.name %> <%= @marketing.province.name %> </td>
	</tr>
	<tr>
		<td>Client Name :</td>
		<td><%= @marketing.client_name %></td>
	</tr>
	<tr>
		<td>Email :</td>
		<td><%= @marketing.email %></td>
	</tr>
	<tr>
		<td>Contact Number :</td>
		<td></td>
	</tr>
	<tr>
		<td>cel :</td>
		<td><%= @marketing.mobile %></td>
	</tr>
	<tr>
		<td>tel :</td>
		<td><%= @marketing.telephone %></td>
	</tr>
	<tr>
		<td>fax :</td>
		<td><%= @marketing.fax %></td>
	</tr>
	<tr>
		<td>Industry Type :</td>
		<td><%= @marketing.industry.name %></td>
	</tr>
	<tr>
		<td>Lead Source :</td>
		<td><%= @marketing.lead.name %></td>
	</tr>
	<tr>
		<td>Product Line :</td>
		<td><%= @marketing.product.name %></td>
	</tr>
</table>

