<%= render "layouts/clientlink" %>
<%= render "layouts/sidebar" %>
<br>
<br>
<% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>

<h3>Company Name:<%= @marketing.company_name %></h3>
<h3>Client Name<%= @marketing.client_name %></h3>
<h3>Email<%= @marketing.email %></h3>
<h3>Mobile<%= @marketing.mobile %></h3>
<h3>Telephone<%= @marketing.telephone %></h3>
<h3>Fax<%= @marketing.fax %></h3>
<h3>Industry Type<%= @marketing.industry.name %></h3>
<h3>Lead Source<%= @marketing.lead.name %></h3>
<h3>Product Line<%= @marketing.product.name %></h3>
<h3>Street <%= @marketing.street %></h3>
<h3>Barangay<%= @marketing.barangay %></h3>
<h3>City<%= @marketing.city.name %></h3>
<h3>Province<%= @marketing.province.name %></h3>


