<h1>Listing provinces</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provinces.each do |province| %>
  <tr>
    <td><%= province.name %></td>
    <td><%= link_to 'Show', province %></td>
    <td><%= link_to 'Edit', edit_province_path(province) %></td>
    <td><%= link_to 'Destroy', province, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Province', new_province_path %>
