<%= render "layouts/clientlink" %>
<%= render "layouts/sidebar" %>
<br>
<br>
<% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>
<table>
	<tr>
		<td>Company Name :</td>
		<td><%= @sale.company_name %></td>	
	</tr>
	<tr>
		<td>Company Address :</td>
		<td><%= @sale.street %><%= @sale.barangay %> <%= @sale.barangay %> <%= @sale.province.name %></td>	
	</tr>
	<tr>
		<td>Client Name :</td>
		<td><%= @sale.telephone %></td>	
	</tr>
	<tr>
		<td>Email :</td>
		<td><%= @sale.email %></td>	
	</tr>
	<tr>
		<td>Contact Number :</td>
		<td><%= @sale.mobile %><%= @sale.telephone %><%= @sale.fax %></td>	
	</tr>
	<tr>
		<td>Industry Type : </td>
		<td><%= @sale.industry.name %></td>	
	</tr>
	<tr>
		<td>Lead Source : </td>
		<td><%= @sale.lead.name %></td>	
	</tr>
	<tr>
		<td>Product Line : </td>
		<td><%= @sale.product.name %></td>	
	</tr>
	<tr>
		<td>TIN No. : </td>
		<td><%= @sale.tin %></td>	
	</tr>
	<tr>
		<td>Vat Exemption. : </td>
		<td><%= @sale.vat_exemption %></td>	
	</tr>
	<tr>
		<td>Inquiry. : </td>
		<td><%= @sale.inquiry %></td>	
	</tr>
</table>

