<%= render "layouts/clientlink" %>
<%= render "layouts/sidebar" %>
<br>
<br>
<% flash.each do |key, value| %>
<div class='flash' id='<%= key %>'>
<%= value %>
</div>
<% end %>
<table>
	<tr>
		<td>Company Name:</td>
		<td><%= @sale.company_name %></td>
	</tr>
	<tr>
		<td>Client Name:</td>
		<td><%= @sale.client_name %></td>
	</tr>	
	<tr>
		<td>Email Address</td>
		<td><%= @sale.email %></td>
	</tr>
	<tr>
		<td>Mobile No.:</td>
		<td><%= @sale.mobile %></td>
	</tr>
	<tr>
		<td>Telephone No. :</td>
		<td><%= @sale.telephone %></td>
	</tr>
	<tr>
		<td>Fax No.:</td>
		<td><%= @sale.fax %</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
<h3>Telephone No. : <%= @sale.telephone %></h3>
<h3>Fax No. : <%= @sale.fax %></h3>
<h3>Street Address : <%= @sale.street %></h3>
<h3>Barangay : <%= @sale.barangay %></h3>
<h3>City : <%= @sale.city.name %></h3>
<h3>Province : <%= @sale.province.name %></h3>
<h3>Industry Type : <%= @sale.industry.name %></h3>
<h3>Lead Source : <%= @sale.lead.name %></h3>
<h3>Product Line : <%= @sale.product.name %></h3>
<h3>Tin No. : <%= @sale.tin %></h3>
<h3>Vat Excemption : <%= @sale.vat_exemption %></h3>
<h3>Inquiry. : <%= @sale.inquiry %></h3>
</table>



