<clients>
<ul>
	<li><%= link_to "Clients", clientpage_path %></li>
	<li><%= link_to "Sales Calls", salescalls_path %></li>
	<li><%= link_to "Marketing Leads", marketingleads_path %></li>
	<li><%= link_to "Cold Calls", coldcalls_path %></li>
	<li><%= link_to "Client List", clients_path %></li>
</ul>
</clients>
